  <div id="contactPage">
    <div class="background">
      <h1>צור קשר</h1>

    </div>
    <main>
      <form action="">
        <div class="contactUnit"><label for="pName">שם פרטי</label><input type="text" id="pName" placeholder="שם פרטי"> </div>
        <div class="contactUnit"><label for="lName">שם משפחה</label><input type="text" id="lName" placeholder="שם משפחה"> </div>
        <div class="contactUnit"><label for="phone">טלפון</label><input type="tel" id="phone" placeholder="מספר טלפון"> </div>
        <div class="contactUnit"><label for="email">אימייל</label><input type="text" id="email" placeholder="אימייל"> </div>
        <div class="contactUnit messageCon"><label for="message">הודעה אישית</label><textarea name="" id="message" rows="15"></textarea></div>
        <div class="contactUnit"><input type="submit"></div>
      </form>
    </main>
    <div class="background footerB">
      <h3>תודה על המשוב!</h3>

    </div>


  </div>

